@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    outline:none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    margin-inline: auto;
    background-color: white;
    color: black;
    border-radius: 0;
}